.todo-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #9ab69b;
    margin: 4px 0;
    border-radius: 4px;
    color: #222222;
}
.todo-item:nth-child(even){
    background: #9ec49b;
}

.todo-item-completed{
    background: #acbbac7c;
    box-shadow: 0 0 1px 1px #cfcfcf inset;
    color: #646464;
}
.todo-item-completed:nth-child(even){
    background: #badbb888;
}

.todo-item:not(.todo-item-completed):hover{
    box-shadow: 0 0 4px 1px #cacaca;
    background: #82a883;
}
.todo-item:not(.todo-item-completed):nth-child(even):hover{
    background: #87bb83;
}

.todo-item:first-child{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.todo-item:last-child{    
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.todo-item-text--completed{
    text-decoration: line-through;
}
