.todo-item-add-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    bottom: 8px;
    z-index: 1;

    height: 40px;
    width: 40px;
    font-size: 22px;
    background: rgb(97, 171, 173);
    color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px 2px #8f8f8f;
    cursor: pointer;
    transition: transform 0.6s;
}

.todo-item-add-modal:hover{
    background: rgb(88, 144, 146);
    box-shadow: 0 0 4px 1px #707070;
    transform: rotate(180deg);
}