.icon-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container-check{
    position: absolute;
    left: 12px;
}

.icon-container-delete{
    position: absolute;
    right: 12px;
}

.icon-svg{
    width: 18px;
    height: 18px;
}

.icon-container-delete .icon-svg{
    width: 14px;
    height: 14px;
}
.icon-container-delete:hover .icon-svg{
    fill: #af4438;
}
.icon-container-check:hover .icon-svg{
    fill: rgb(16, 102, 16);
}